<div class='wrap'>
    <div class='code-html' id='code-html'>
        <div id='chart-area'></div>
    </div>
    <div class='code-html' id='code-html'>
        <div id='chart-area10000'></div>
    </div>
</div>