<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- tui.css --}}
    <link rel='stylesheet' href='/stylesheets/tui-chart.css' />
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='/stylesheets/example.css'/>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    {{!-- jquery --}}
      <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
      </script>
    {{!-- toast.js --}}
      <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
      <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
      <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
      <script src='/javascripts/tui-chart.js'></script> 
      <script class='code-js' id='code-js'></script> 
    {{!-- chart.js --}}
      {{!-- <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>  --}}
     
    {{!-- custom.js --}}
      <script src='/javascripts/custom.js'></script>
  </body>
</html>
